In [ ]:
# please check the data folder for the dataset

In [254]:
import requests
import pandas as pd

url = "https://corona-virus-world-and-india-data.p.rapidapi.com/api_india"

headers = {
    'x-rapidapi-key': "6b9a040689msh4c3e22ad300cc1fp19b019jsn8ea1698972ba",
    'x-rapidapi-host': "corona-virus-world-and-india-data.p.rapidapi.com"
    }

response = requests.request("GET", url, headers=headers)

response = response.json()

In [228]:
response['state_wise']['Andhra Pradesh']['district']

{'Foreign Evacuees': {'notes': '',
  'active': 0,
  'confirmed': 434,
  'deceased': 0,
  'recovered': 434,
  'delta': {'confirmed': 0, 'deceased': 0, 'recovered': 0}},
 'Anantapur': {'notes': '',
  'active': 22,
  'confirmed': 67689,
  'deceased': 599,
  'recovered': 67068,
  'delta': {'confirmed': 0, 'deceased': 0, 'recovered': 6}},
 'Chittoor': {'notes': '',
  'active': 166,
  'confirmed': 87200,
  'deceased': 847,
  'recovered': 86187,
  'delta': {'confirmed': 7, 'deceased': 0, 'recovered': 6}},
 'East Godavari': {'notes': '',
  'active': 79,
  'confirmed': 124356,
  'deceased': 636,
  'recovered': 123641,
  'delta': {'confirmed': 7, 'deceased': 0, 'recovered': 14}},
 'Guntur': {'notes': '',
  'active': 62,
  'confirmed': 75609,
  'deceased': 671,
  'recovered': 74876,
  'delta': {'confirmed': 5, 'deceased': 0, 'recovered': 12}},
 'Krishna': {'notes': '',
  'active': 138,
  'confirmed': 48814,
  'deceased': 679,
  'recovered': 47997,
  'delta': {'confirmed': 8, 'deceased': 0, 'recovered': 3}},
 'Kurnool': {'notes': '',
  'active': 19,
  'confirmed': 60846,
  'deceased': 489,
  'recovered': 60338,
  'delta': {'confirmed': 0, 'deceased': 0, 'recovered': 1}},
 'Other State': {'notes': '',
  'active': 0,
  'confirmed': 2461,
  'deceased': 0,
  'recovered': 2461,
  'delta': {'confirmed': 0, 'deceased': 0, 'recovered': 0}},
 'Prakasam': {'notes': '',
  'active': 55,
  'confirmed': 62193,
  'deceased': 580,
  'recovered': 61558,
  'delta': {'confirmed': 0, 'deceased': 0, 'recovered': 2}},
 'S.P.S. Nellore': {'notes': '',
  'active': 62,
  'confirmed': 62392,
  'deceased': 507,
  'recovered': 61823,
  'delta': {'confirmed': 5, 'deceased': 0, 'recovered': 7}},
 'Srikakulam': {'notes': '',
  'active': 9,
  'confirmed': 46162,
  'deceased': 347,
  'recovered': 45806,
  'delta': {'confirmed': 5, 'deceased': 0, 'recovered': 6}},
 'Visakhapatnam': {'notes': '',
  'active': 46,
  'confirmed': 59922,
  'deceased': 564,
  'recovered': 59312,
  'delta': {'confirmed': 9, 'deceased': 0, 'recovered': 13}},
 'Vizianagaram': {'notes': '',
  'active': 13,
  'confirmed': 41148,
  'deceased': 238,
  'recovered': 40897,
  'delta': {'confirmed': 0, 'deceased': 0, 'recovered': 1}},
 'West Godavari': {'notes': '',
  'active': 42,
  'confirmed': 94277,
  'deceased': 542,
  'recovered': 93693,
  'delta': {'confirmed': 2, 'deceased': 0, 'recovered': 0}},
 'Y.S.R. Kadapa': {'notes': '',
  'active': 84,
  'confirmed': 55311,
  'deceased': 463,
  'recovered': 54764,
  'delta': {'confirmed': 6, 'deceased': 0, 'recovered': 0}}}

In [26]:
states = ["Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh","Gujarat", "Haryana", "Himachal Pradesh",
"Jharkhand", "Karnataka", "Kerala",
"Madhya Pradesh",
"Maharashtra",
"Manipur",
"Meghalaya",
"Mizoram",
"Nagaland",
"Odisha",
"Punjab",
"Rajasthan",
"Sikkim",
"Tamil Nadu",
"Telangana",
"Tripura",
"Uttar Pradesh",
"Uttarakhand",
"West Bengal"]

In [258]:
from collections import defaultdict
data = []
state_data = {}
total_states = []
district_state_wise = []
updated_time = []

for state in states:
    districts = response['state_wise'][state]['district']
    
    for district_name, district_data in districts.items():
        state_data[state] = [district_name]
        total_states.append(state)
        district_state_wise.append(district_name)
        
        active_cases = district_data['active']
        confirmed_cases = district_data['confirmed']
        deceased_cases = district_data['deceased']
        recovered_cases = district_data['recovered']
        data.append([active_cases, confirmed_cases, deceased_cases, recovered_cases])
        updated_time.append(response['state_wise'][state]['lastupdatedtime'])

    if state_data[state]:
        state_data[state] = district_state_wise

In [260]:
df = pd.DataFrame(data, columns=['active', 'confirmed', 'deceased', 'recovered'])
df.insert(0, "states", total_states)
df.insert(1, "districts", district_state_wise)
df.insert(6, 'last_updated', updated_time)

In [266]:
#df.set_index('states')
df.head()

,states,districts,active,confirmed,deceased,recovered,last_updated
0,Andhra Pradesh,Foreign Evacuees,0,434,0,434,13/02/2021 19:58:20
1,Andhra Pradesh,Anantapur,22,67689,599,67068,13/02/2021 19:58:20
2,Andhra Pradesh,Chittoor,166,87200,847,86187,13/02/2021 19:58:20
3,Andhra Pradesh,East Godavari,79,124356,636,123641,13/02/2021 19:58:20
4,Andhra Pradesh,Guntur,62,75609,671,74876,13/02/2021 19:58:20

In [279]:
df['last_updated'] = df['last_updated'].str.split(" ")[0][0]
df['last_updated'] = pd.to_datetime(df['last_updated'], format='%d/%m/%Y')
df.head()

,states,districts,active,confirmed,deceased,recovered,last_updated
0,Andhra Pradesh,Foreign Evacuees,0,434,0,434,2021-02-13
1,Andhra Pradesh,Anantapur,22,67689,599,67068,2021-02-13
2,Andhra Pradesh,Chittoor,166,87200,847,86187,2021-02-13
3,Andhra Pradesh,East Godavari,79,124356,636,123641,2021-02-13
4,Andhra Pradesh,Guntur,62,75609,671,74876,2021-02-13

In [280]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   states        717 non-null    object
 1   districts     717 non-null    object
 2   active        717 non-null    int64
 3   confirmed     717 non-null    int64
 4   deceased      717 non-null    int64
 5   recovered     717 non-null    int64
 6   last_updated  717 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 39.3+ KB

In [220]:
df.shape

(717, 6)

In [281]:
df.to_csv('covid_district_wise_version_1.csv', index=False)

In [282]:
df_1 = pd.read_csv('covid_district_wise_version_1.csv')
df_1.head()

,states,districts,active,confirmed,deceased,recovered,last_updated
0,Andhra Pradesh,Foreign Evacuees,0,434,0,434,2021-02-13
1,Andhra Pradesh,Anantapur,22,67689,599,67068,2021-02-13
2,Andhra Pradesh,Chittoor,166,87200,847,86187,2021-02-13
3,Andhra Pradesh,East Godavari,79,124356,636,123641,2021-02-13
4,Andhra Pradesh,Guntur,62,75609,671,74876,2021-02-13

In [257]:
response['state_wise']['Andhra Pradesh']['lastupdatedtime']

'13/02/2021 19:58:20'